#container{
    background-color: gray;    
    height: 100px;

    display: flex;

    justify-content: center;
    /* align-items: stretch; */
}

#container>div{
    
}

#container>div.box1{
    background-color: greenyellow;  
    
}

#container>div.box2{
    background-color: green;    
    
}

#container>div.box3{
    background-color: yellow;  
    
}

#container>div.box4{
    background-color: red;  
}

#container>div.box5{
    background-color: blue;    
}