<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>레이아웃</title>

<link href="/css/customer/layout.css" type="text/css" rel="stylesheet" />
<style>
#visual .content-container {
	height: inherit;
	display: flex;
	align-items: center;
	background: url("/images/mypage/visual.png") no-repeat center;
}
</style>
</head>

<body>
	<!-- header 부분 -->
	<div th:replace="inc/header::hd"></div>


	<!-- --------------------------- <visual> --------------------------------------- -->
	<!-- visual 부분 -->

	<div id="visual">
		<div class="content-container"></div>
	</div>
	<!-- --------------------------- <body> --------------------------------------- -->
	<div id="body">
		<div class="content-container clearfix">

			<!-- --------------------------- aside --------------------------------------- -->
			<!-- aside 부분 -->
			<div th:replace="admin/inc/aside::.aside"></div>



			<!-- --------------------------- main --------------------------------------- -->
			
			<div layout:fragment="main"></div>
			
		</div>




	</div>


	<!-- ------------------- <footer> --------------------------------------- -->
	
	<div th:replace="inc/footer::#footer"></div>


</body>

</html>